<h3>Menu</h3>

<ul class="nav nav-pills">
	<% Section.all.each do |section| %>
	  <li class="nav-item">
	    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
	  </li>
  <% end %>
</ul>

<% if @section %>
	<% @section.food_items.each do |food| %>
		<h4><%= food.name %></h4>
		<p><%= food.description %></p>
	<% end %>
<% end %>