<h3>Contact Us</h3>

<div class="row">
	<div class="col-sm-4">
		<b>Vincom Shopping Center B</b><br>
		72 Lê Thánh Tôn, Bến Nghé, Quận 1, Hồ Chí Minh, Vietnam<br>
		<p><b>Phone Number</b>: 678-555-8865 </p>

	</div>

	<div class="col-sm-8">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.431956299453!2d106.69974351500922!3d10.778191062107865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47df59b94f%3A0x6bbcaeb33e29c9f2!2sVincom+Center+B+Shopping+Mall!5e0!3m2!1sen!2s!4v1476124814022" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>