<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Kaewphitak's</h1>
	  <p class="lead">
	  	<div class="btn-group" role="group" aria-label="Basic example">
		  	<%= link_to "Menu", "/menu", class: 'btn btn-secondary' %> 
		  	<%= link_to "Contact Us", "/contact_us", class: 'btn btn-secondary' %> 
		  </div>	  	

	  </p>
	</div>
</div>
